<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/application.html}">

<head>
  <title>Show article</title>
</head>
<section layout:fragment="content">
  <!-- BEGIN -->
  <h1>Article</h1>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li th:if="${article.id}" class="list-group-item" th:text="${article.id}"></li>
      <li th:if="${article.title}" class="list-group-item" th:text="${article.title}"></li>
      <li th:if="${article.body}" class="list-group-item" th:text="${article.body}"></li>
    </ul>
  </div>
  <!-- END -->
</section>
